/* .map-input-data-container {
    background-color: #f9f8dd; */
    /* Other styles for spacing, padding, etc. */
/* } */

/* Rest of your CSS styles here */

.map-input-data-container


{
    background-color: #f9f8dd;
}
body{
    background: #f9f8dd;
}
h1{
    color: red;
}